@font-face {
  font-family: 'google';
  font-style: italic;
  font-weight: 400;
  src: url(../font/P5sdzZCDf9_T_10c3i9MeUcyat4iJY-ERCrDfQM.ttf) format('truetype');
}
@font-face {
  font-family: 'google';
  font-style: normal;
  font-weight: 400;
  src: url(../font/P5sfzZCDf9_T_3cV7NCUECyoxNk37cxcABrE.ttf) format('truetype');
}
@font-face {
  font-family: 'google';
  font-style: normal;
  font-weight: 700;
  src: url(../font/P5sfzZCDf9_T_3cV7NCUECyoxNk3CstcABrE.ttf) format('truetype');
}
